<!doctype html>
<html class="no-js" lang="" ng-app="test">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="hotelsController">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
     <h1>HolidayPirates Test</h1>
     <center><a href="javascript:void(0)" ng-click="getHotels()" class="btn-grey">Load Hotels</a></center>
     <div class="container-fluid">
         <div class="hotels" ng-cloak>
              <div class="hotel clearfix" ng-repeat="item in hotels | limitTo:5">
                  <div class="hotel-image">
                      <img ng-src="{{(item.images.length>0?item.images[0]:'')}}" class="img-responsive" alt="">
                  </div>
                  <div class="hotel-description">
                      <div class="hotel-stars">
                           {{item.stars}} &#9733;
                      </div>
                      <h2>{{item.name}}</h2>
                      <h3>{{item.city}} - {{item.country}}</h3>
                      <p>
                          {{item.description}}
                      </p>
                      <a class="btn-grey" href="javascript:void(0)" ng-click="getReviews()">Show Reviews</a>
                      <div class="hotel-price">
                          {{item.price}} &euro;
                          <span class="date">
                              {{item.date_start | date:'dd-MM-yyyy'}} - {{item.date_end | date:'dd-MM-yyyy'}}
                          </span>
                      </div>
                  </div>
                  <div class="clear"></div>
                  <div class="hotel-review" ng-repeat="item in reviews track by $index">
                  <div class="review clearfix">
                     <div class="review-box">
                      <div class="review-mark">
                          <span class="mark" ng-show="item.positive === true">+</span>
                          <span class="mark" ng-show="item.positive === false">-</span>
                      </div>
                      <div class="review-description">
                            <h3>{{item.name}}</h3>
                            <p>
                                {{item.comment}}
                            </p>
                      </div>
                      <div class="clear"></div>
                  </div>
                  </div>
              </div>
                  <div class="clear"></div>
              </div>
              
          </div>   
          
     </div>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
